#nav{
	display: none !important;
}
#homes{
	background: white;
	padding: 10px;
	margin-left:-10px;
}
#header{
	background-image: none !important;
	display: none !important;
}
#banner{
	text-align: left !important;
	padding: 2em 0 15em 0;
}

#banner2{
	text-align: left !important;
	margin-top: -90px;
}
@media only screen and (max-width: 740px) {
	#navButton > .toggle{
	display: none !important;
}
}
@media only screen and (max-width: 500px) {
 .member_popup{
  width:250px !important;
 } 
 .image.featured{
	margin-bottom: 65px !important;
}
#navButton > .toggle{
	display: none !important;
}
}
@media only screen and (min-width: 641px) {
#background_logo{
	background-image: url("../images/bg_tile.png");
	height: 300px;
	width: 80%;
	left: 0 !important;
	margin-top: 115px;
}
.minatologo {
	position: relative;
	margin-top: -240px;
	margin-bottom: 75px;
	margin-left: 30%;
	width: 43%;
}
#primary > section.carousel > div > article > a > img{
	border-radius: 50%;
	/* width: 60%;
	height: 25%; */	
	margin-left: 65px !important;
	margin-top: 15px;
	max-width: 100%;
}
#member_article > div > article > a > img{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	max-width:100%;
}
article.member_article{
	width: 249px;
	height: auto;
}
.image.featured{
	margin-bottom: 65px !important;
}
}
@media only screen and (max-width: 640px) {
#background_logo{
	background-image: url("../images/bg_tile.png");
	height: 300px;
	width: 100%;
	left: 0;
	margin-top: 115px;
}
.minatologo {
	position: relative;
	margin-top: -240px;
	left: 2%;
	width: 96%;
}
#primary > section.carousel > div > article > a > img{
	border-radius: 50%;
	/* width: 60%;
	height: 25%; */
	margin-left: 30px;
	margin-top: 15px;
}
#member_article > div > article > a > img{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	max-width:100%;
	margin-left: 25%;
}
article.member_article{
	width: 20%;
	height: auto;
}
.image.featured {
	margin-bottom: 65px !important;
}
}
@media only screen and (max-width: 1280px) {
#member_article > div > article > a > img{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	margin-left: 25%;
	margin: 0 auto;
}
}
@media only screen and (max-width: 840px) {
#member_article > div > article > a > img{
 border-radius: 50%;
 /* height: 30%;
 width: 50%; */
 margin-left: 25%;
 margin: 0 auto;
}
.row:not(.no-collapse)>*{
 width:auto !important;
}
}
@media only screen and (max-width: 470px) {
 .row:not(.no-collapse)>*{
  width:100% !important;
 }
}
#thumb{
	padding-bottom: 225px;
}

#banner1 > header > h2{
	margin-top: -80px;
}
#member_article > div > article > p{
	text-align: center;
}
#member_article > div > article > header > h3{
	margin-top: -60px;
}
#banner > header > h2{
	margin-top: -5px;
}
#banner2 > header > h2{
	margin-top: 8px;
}
#inline1{
	text-align: center !important;
}
.member_popup > img{
	border-radius: 50%;
	height:200px;
	width:200px;
}
@media only screen and (max-width: 541px) {
.fb_iframe_widget {
	width: 100% !important;
	margin: 0 auto;
	border-radius: .40em! important;
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0NyUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWRlZGVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
}

.fb_iframe_widget {
	width: 500px;
	margin: 0 auto;
	border-radius: .65em;
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0NyUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWRlZGVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
#footer {
	padding: 1.5em 1em 1em 1em !important;
}
#colophon{
	display:none;
}
section, article {
margin-bottom: 1em !important;
}
